{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>



    {% for listing in open %}
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="{{listing.imageURL}}" alt="{{listing.title}}">
        <div class="card-body">
          <h5 class="card-title">{{listing.title}}</h5>
          <p class="card-text">{{listing.desc}}</p>
          <a href="{% url 'listing' listing.id %}" class="btn btn-primary">Detail</a>
        </div>
      </div>
        
    {% endfor %}
{% endblock %}